<div class="row">
  <div class="col-md-4">
    <label for="id_userIdentityCard" class="form-label">身分証號</label>
    <input type="text" name="userIdentityCard" class="form-control" maxlength="50" id="id_userIdentityCard">
  </div>
  
  <div class="col-md-4">
    <label for="id_userBirthday" class="form-label">生日</label>
    <input type="text" name="userBirthday" class="form-control" id="id_userBirthday">
  </div>

  <div class="col-md-4">
    <label for="id_userLocalPhone" class="form-label">市話</label>
    <input type="text" name="userLocalPhone" class="form-control" maxlength="50" id="id_userLocalPhone">
  </div>
</div> 



<div class="row">
  <div class="col-md-4">
    <label for="id_userMobilePhone" class="form-label">手機</label>
    <input type="text" name="userMobilePhone" class="form-control" maxlength="50" id="id_userMobilePhone">
  </div>
  
  <div class="col-md-4">
    <label for="id_userPublicOrPrivate" class="form-label">身分別</label>
    <input type="text" name="userPublicOrPrivate" class="form-control" maxlength="50" id="id_userPublicOrPrivate">
  </div>
  
  <div class="col-md-4"></div>
</div>  



<div class="row">
  <div class="col-md-3">
    <label for="id_userCountry" class="form-label">縣市</label>
    <input type="text" name="userCountry" class="form-control" maxlength="50" id="id_userCountry">
  </div>
  
  <div class="col-md-3">
    <label for="id_userTownship" class="form-label">鄉鎮</label>
    <input type="text" name="userTownship" class="form-control" maxlength="50" id="id_userTownship">
  </div>

  <div class="col-md-3">
    <label for="id_userVillage" class="form-label">村里</label>
    <input type="text" name="userVillage" class="form-control" maxlength="50" id="id_userVillage">
  </div>
  
  <div class="col-md-3">
    <label for="id_userNeighbor" class="form-label">鄰</label>
    <input type="text" name="userNeighbor" class="form-control" maxlength="50" id="id_userNeighbor">
  </div>
</div>  



<div class="row">
  <div class="col-md-2">
    <label for="id_userStreet" class="form-label">街路</label>
    <input type="text" name="userStreet" class="form-control" maxlength="50" id="id_userStreet">
  </div>
  
  <div class="col-md-2">
    <label for="id_userSection" class="form-label">段</label>
    <input type="text" name="userSection" class="form-control" maxlength="50" id="id_userSection">
  </div>
  
  <div class="col-md-2">
    <label for="id_userLane" class="form-label">巷</label>
    <input type="text" name="userLane" class="form-control" maxlength="50" id="id_userLane">
  </div>
  
  <div class="col-md-2">
    <label for="id_userAlley" class="form-label">弄</label>
    <input type="text" name="userAlley" class="form-control" maxlength="50" id="id_userAlley">
  </div>
  
  <div class="col-md-2">
    <label for="id_userNumber" class="form-label">號</label>
    <input type="text" name="userNumber" class="form-control" maxlength="50" id="id_userNumber">
  </div>
  
  <div class="col-md-2">
    <label for="id_userFloor" class="form-label">樓</label>
    <input type="text" name="userFloor" class="form-control" maxlength="50" id="id_userFloor">
  </div>
</div> 

